/* @version $Id: Examples.css 2677 2015-01-24 01:09:14Z tgaskins $ */
body {
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 0px;
    padding: 0px;
	background-color: #fff;
}

#page {
    margin: 0px auto 0px auto;
}

#divLayerManager {
    float: left;
    width: 300px;
    height: 600px;
    margin: 5px;
    border: 2px solid #000066;
}

#divWorldWindowContainer {
    padding: 0px;
}

#globe {
    float: left;
    margin: 32px 0px 0px 0px;
    border: 0px solid #000066;
}

#divWorldWindow {
    float: left;
    margin: 50px;
    border: 0px solid #000066;
}

@media only screen and (max-device-width: 1050px) {
    #divLayerManager {
        float: left;
        width: 250px;
        height: 600px;
        margin: 5px;
        border: 2px solid #000066;
    }
}

/* @version $Id: CoordinateController.css 3083 2015-05-08 18:30:32Z dcollins $ */

/* Coordinate overlay common attributes. */
#coordinateOverlay {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-shadow: 0px 0px 2px black;
    pointer-events: none; /* ignore mouse and touch events in the coordinate overlay */
}

/* Coordinate overlay terrain latitude. */
#terrainLatitude {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin: 0px 5px 0px 5px;
}

/* Coordinate overlay terrain longitude. */
#terrainLongitude {
    display: inline-block;
    width: 65px;
    text-align: right;
    margin: 0px 5px 0px 5px;
}

/* Coordinate overlay terrain elevation. */
#terrainElevation {
    display: inline-block;
    width: 60px;
    text-align: center;
}

/* Coordinate overlay eye altitude label. */
#eyeAltitudeLabel {
    margin: 0px 5px 0px 20px;
}

/* Coordinate overlay position in medium to large viewports. */
@media (min-width: 992px)  {
    #coordinateOverlay {
        position: absolute;
        bottom: 10px;
        left: 260px;
    }
}

/* Coordinate overlay position in small viewports. */
@media (max-width: 992px) {
    #coordinateOverlay {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}
