/* @version $Id: LayerManager.css 2746 2015-02-06 18:51:30Z tgaskins $ */
ul {
    background-color: #584f4d;
    border: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ec8b68;
    color: #fff;
    border-top: 1px solid #fe9772;
    border-bottom: 1px solid #9f593f;
    font-size: 18px;
    letter-spacing: .05em;
    list-style-type: none;
    text-shadow: 2px 2px 1px #9f593f;
    height: 30px;
    padding-left: 1em;
    padding-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layerManager {
    background-color: #e99295;
    color: #fff;
    border: none
}

.projectionDivOuter {
    margin: 5px 5px 10px 5px;
}

.projectionForm {
    background-color: #d7666b;
    margin: 0 auto 0 auto;
}

.projectionDivInner {
    width: 85%;
    margin: 0 auto 0 auto;
    padding: 15px 5px 15px 5px;
}

.projectionLabel {
    padding-right: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layersFieldset {
    border: none;
    padding: 0;
    margin: 5px;
}

.layerEnabled {
    background-color: #d7666b;
    color: #fff;
    text-shadow: 2px 2px 1px #914141;
    border-top: 1px solid #e99295;
    border-bottom: 1px solid #914141;
}

.layerDisabled {
}

.layerVisible {
    background-color: #d7666b;
    color: #fff;
    text-shadow: 2px 2px 1px #914141;
    border-top: 1px solid #e99295;
    border-bottom: 1px solid #914141;
    font-style: italic;
}
